.global-btn-green {
    background-color: #31A05F;
    /* color: white; */
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus,
option.form-control,
option.form-control:focus,
select.form-control,
select.form-control:focus
{
  box-shadow: none;
}

input,
input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 3;
}

.fs14 {
  font-size: 14px;
}

.fs12 {
  font-size: 12px;
}

a {
  color: black;
}

/* color */
.color-primer {
  color: #03243a;
}

.color-sekunder {
  color: #0c77b4;
}

.color-tersier {
  color: #ffb70a;
}

.bg-primer {
  background-color: #03243a;
}

.bg-sekunder {
  background-color: #0c77b4;
}

.bg-tersier {
  background-color: #ffb70a;
}

